language: go

cache:
  directories:
    - $GOPATH/pkg/mod

dist: focal

go:
  - 1.15.x

os:
  - linux
  - osx
  - windows

env:
  matrix:
    - JOB=test
    - JOB=build
    - JOB=test-coverage

before_script:
  - if [ $TRAVIS_OS_NAME == "windows" ]; then
      chocolatey install make;
    fi

script:
  - 'if [ "${JOB}" = "test" ]; then make test; fi'
  - 'if [ "${JOB}" = "build" ]; then make build; fi'
  - 'if [ "${JOB}" = "test-coverage" ]; then make test-coverage; fi'

jobs:
  fast_finish: true
  allow_failures:
    - env: JOB=test-coverage
  exclude:
    - os: osx
      env: JOB=test-coverage
    - os: windows
      env: JOB=test-coverage

  include:
    - language: python
      if: tag IS present
      os: linux
      dist: focal
      python: 3.8
      cache:
        directories:
          - .venv
      before_install:
        - pip install poetry
      install:
        - poetry config settings.virtualenvs.in-project true
        - poetry install
      script:
        - make docs-build
      deploy:
        provider: pages
        github_token: $GHPAGES_DEPLOY_TOKEN
        keep_history: true
        local_dir: docs-build
        repo: arkn98/adeia
        on:
          tags: true
          branch: master
